body{
    margin: 0;
    padding: 0;
}
#container{
    width: 100vw;
    background: url("Melamine-wood-004.png");
    height: auto;
    min-height: 100vh;
}
table{
    width: 100%;
}
td{
    padding: 40px 0;
    text-align: center;
    display: inline-flex;
}
tr{
    text-align: center;
}
.ui-slider{
    margin: 0px 45px;
    display: inline-flex;
    height: 200px;
}
.ui-slider-handle{
    width: 60px !important;
    text-align: center;
    left: -24px !important;
    background-color: rgb(66, 66, 66) !important;
    color: white !important;
    user-select:none;
    padding: 5px 0;
}
#play{
    width: 100px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 75px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
#play:target{
    border: none;
}
#buttonbar{
    width: 100%;
    text-align: center;
}
#logo{
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
